<h1>StaticPages#Search</h1>

Keyword:<%= @key%>
<p>
<%= form_tag(static_pages_search_path, method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
</p>
<p>
URL
<% @result["results"].each do |p| -%>
  <li><%= p["previewUrl"] %></li>
<% end -%>
</p>
<p>
NAME
<% @result["results"].each do |p| -%>
  <li><%= p["trackName"] %></li>
<% end -%>

</p>

<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
message: <%= @message%>
</p>
