<h1>StaticPages#Search</h1>

Keyword:<%= @key%>
<p>
URL
<% @result["results"].each do |p| -%>
  <li><%= p["previewUrl"] %></li>
<% end -%>
</p>
<p>
NAME
<% @result["results"].each do |p| -%>
  <li><%= p["trackName"] %></li>
<% end -%>

</p>

<!-- リクエストパラメタを表示-->
リクエストパラメタ: <%= @query%>
</p>
<!-- 生のjsonを表示-->
result: <%= @result%>
</p>
<p>
  <!-- エラーメッセージを表示-->
message: <%= @message%>
</p>
